.Footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 1.5rem 0;
    gap: 2rem;
}

.links{
    display: flex;
    gap: 2rem;
}

.links a{
    cursor: pointer;
    transition: 0.3s;
    color: white;
    text-decoration: none;
}

.links a:hover{
    color: rgba(255, 255, 255, 0.7);
}


/* <-- Media queries --> */
@media (max-width:400px){
    .Footer{
        font-size: 14px;
    }
}
